html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
body {
  margin: 0;
  padding: 0;
  
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
  
a {
  text-decoration: none;
}
  
.visuallyhidden  {
  position: absolute;
  white-space: nowrap;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
    
  box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.2);
}


/*Меню сайта + лого */
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;

  font-weight: 700;
}

.site-navigation {
  display: flex;
  align-items: center;
  
  width: 100%;
  min-height: 56px;
  padding: 0;
  margin: 0;
  
  list-style: none;
  background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation li {
  width: 20%;
  text-align: center;
}
  
.site-navigation li:nth-child(4n+2) {
  margin-right: 20%;
}
   
.site-navigation a {
  color: #000000;
}

.logo {
  display: block;
  margin-top: -56px;
}

.site-navigation .nav-catalog {
  color: #766357;
}


/* слоган + визуал */

.welcom-image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 509px;
  background-image: 
    url("../img/polygon.svg"),
    url("../img/bg_intro.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -1px, center top;
}


/* Приемущества */
.intro {
  text-align: center;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.intro h3 {
  margin-top: 56px;
  margin-bottom: 0;
  margin-left: 312px;
  margin-right: 312px;

  font-size: 21px;
}

  .intro p {
  margin-top: 32px;
  margin-bottom: 55px;
  margin-left: 200px;
  margin-right: 200px;
}


/* Приемущества */
.feature-list {
  padding: 0;
  margin: 0;
}

.place {
  display: flex;
}

.item {
  background-color: #7eb3d2;
}

.item h3 {
  margin-top: 44px;
  padding: 0px 125px;

  font-size: 21px;
  line-height: 24px;
  color:#ffffff;
}

.item  p {
  margin-bottom: 25px;
  padding: 0px 48px;

  color: #ffffff;
} 

.feature-list ul {
  display: flex;
  padding: 0;

}

.feature-list li {
  list-style: none;
  text-align: center;
}


.feature-item {
  min-width: 400px;
  padding: 137px 43px 10px;
  min-height: 330px;
  background-color: #ffffff;
}

.feature-item h3 {
  font-size: 21px;
}

.feature-item:first-child {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 163px 60px;
}

.feature-item:nth-child(2) {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 163px 60px;
}

.feature-item:last-child {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 167px 56px;
}

.feature-list-2  {
  justify-content: space-between;
}

.feature-list ul.feature-list-2 
li {
  min-width: 400px;
  padding: 23px 63px 10px;
  min-height: 256px;
}

.feature-list ul.feature-list-2 
li h3 {
line-height: 24px;
font-size: 21px;
padding: 0px 57px;
}

.feature-list ul.feature-list-2 p {
  margin-top: 23px;
}


/* Приемущества 2 */

.search {
  padding-top: 35px;
  background-color: #ffffff;
}

.container {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.search-title {
  padding-top: 13px;
  font-size: 30px;
}

.search-text {
  text-align: center;
  margin-top: 26px;

  line-height: 23px;
}

.search-button {
  margin-top: 32px;
  border: 0;

  height: 86px;
  width: 568px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #756357;
}

.search-button:hover,
.search-button:focus {
   background-color: #604e44;
}

.search-button:active{
  color: #938a85;
   background-color: #503e32;
}

.search .container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Форма */
.form {
  position: absolute;
  background-color: #ffffff;
}

.search .form {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.form-inner {
  padding-top: 55px;
  padding-right: 55px;
  padding-bottom: 53px;
  padding-left: 55px;
}

.form-row {
  display: flex;
  margin-bottom: 31px;
}

.form-label {
  margin-top: 8px;
  width: 114px;
  font-weight: 700;
}

.form-box {
  display: flex;
  width: 346px
}



.form-button-datepicker {
  border: 0;
  fill: #a9a9a9;
  background-color: #f2f2f2;
}



.form-group {
  display: flex;
  width: 230px;
}

.form-box-2{
  display: flex;
  margin-left: 30px;
}

.form-button {
  width: 38px;
}

.form-button-minus {
  border: 0;
  margin: 0;
  padding-bottom: 6px;
  fill: #a9a9a9;
  background-color: #f2f2f2;
}

.form-button-minus:hover,
.form-button-minus:focus,
.form-button-plus:hover,
.form-button-plus:focus,
.form-button-datepicker:hover,
.form-button-datepicker:focus {
  fill: #000000;
}

.form-button-minus:active,
.form-button-plus:active,
.form-button-datepicker:active {
  fill: #80b2d3;
}

.form-input {
  width: 346px;
  height: 38px;
  padding-left: 14px;
  font-weight: 700;

  text-transform: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: #f2f2f2;
}

.form-input-number {
  width: 38px;
}

.form-button-plus {
  border: 0;
  fill: #a9a9a9;
  background-color: #f2f2f2;
}

.form-group-1 {
  display: flex;
  width: 230px;
}

.form-label-children {
  margin-top: 8px;
  font-weight: 700;
  padding-left: 49px;
}

.form-submit {
  min-width: 458px;
  height: 58px;
  margin-top: 20px;

  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #669ebf;
}
.form-submit:active {
  color: #92bbd1;
  background-color: #5596be;
}


/* Карта */
.map {
  position: relative;
}

/* Футер */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 124px;

  font-size: 21px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.map-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-phone p {    
  display: block;
  margin-left: 124px;
  margin-bottom: 28px;
  padding: 0;
}

.footer-phone p {
  display: block;
  margin-left: 124px;
  margin-bottom: 28px;
  padding: 0;
}

.footer-contact {
  color:  #000000;
}

.footer-contact:hover,
.footer-contact:focus {
  color:  #80b2d3;
}

.footer-contact:active {
  color:  #cacaca;
}

.social  {
  margin-right: 48px;
  padding: 0;
  display: flex;
}

.social li {
  display: flex;
  margin-left: 5px;
  margin-bottom: 8px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social li:hover {
  background-color: #669ebf;
}
.social li:active {
  background-color: #5596be;
}

.social li a {
  margin: auto;
  margin-left: 14px;
}

.twitter, 
.facebook,
.youtube {
    fill: #ffffff;
}

.twitter:active, 
.facebook:active,
.youtube:active {
    fill: #88b6d0;
}


.facebook {
    margin-left: 3px;
    margin-top: 5px;
}

.copyright {
  display: flex;
  margin-right: 101px;
}

.footer-copyright {
  margin-top: 10px;
  margin-right: 8px;
  font-size: 14px;
}

.logo-academy {
  fill: #231f20;
}

.logo-academy:hover,
.logo-academy:focus {
  fill: #7eb3d2;
}

.logo-academy:active {
  fill: #bdbbbc;
}


/* Страница каталога 
----------------------------- */

/* Форма */
.form-catalog {
  display: flex;
  align-items: center;

  background-image: url(../img/dummy-2.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 218px;
}

.form-catalog ul {
  margin-left: 71px;
  padding: 0;
  list-style: none;
}

.form-catalog .type-housing {
  margin-left: 121px;
  padding: 0;
  list-style: none;
}

.form-catalog ul li {
  margin: 26px 0px;
}
.form-catalog  a {
  color: #ffffff;
}

.form-catalog  p {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filter-range {
  width: 318px;
  margin-left: 337px;
  margin-bottom: 8px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  box-sizing: initial;
  width: 82px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  box-sizing: initial;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 84px;
  padding: 6px 31px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.form-custom-checkbox {
  position: relative;
  padding-left: 42px;
  cursor: pointer;
  color: #ffffff;
}

.form-custom-checkbox::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-catalog-checkbox:checked + .form-custom-checkbox::before {
  background-image: url(../img/checkbox-on.svg);
  width: 26px;
}

.form-catalog-checkbox:disabled + .form-custom-checkbox::before {
  background-image: url(../img/checkbox-on-dis.svg);
  width: 26px;
}


/* aside */
.search-results {
  display: flex;
  align-items: center;
  min-height: 86px;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5 ;
}

.search-results li  {
  list-style: none;
}

.search-results h3 {
  margin-left: 72px;
  font-size: 21px;
}

.search-results p {
  margin-left: 49px;
  font-size: 12px;
}

.sorting  {
  display: flex;
  
}

.sorting a {

  margin-right: 32px;
  font-size: 12px;
  color: #000000;
}

.sorting li:first-child a {
  color: #81b3d2;
}

.sorting li:nth-child(2) a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sorting li:last-child a {
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting li a:hover {
  color: #81b3d2;
}

.sorting li a:active {
  color: #000000;
  border-bottom: none;
}

.arrow-up-down {
  display: flex;
  margin-left: 465px;
}

.arrow-up-down a {
  margin-left: 10px;
}

.arrow-up-down .icon-up {
  fill: #cacaca;
}

.arrow-up-down .icon-down {
  fill: #81b3d2;
}



/* Результаты поиска */
.results-list {
  margin: 0;
  padding: 0;
}

.results-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 151px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.img-hotel-item-box {
  display: flex;
  align-items: center;
}

.results-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 151px;
  background-color: #fefefe;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item {
  font-size: 21px;
  color: #000000;
  margin-top: -12px;
}

.img-hotel-item-box h3 {
  margin: 0;
  font-size: 21px;
}

.hotel-item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 31px;
  height: 87px;
}

.hotel-item:hover {
  color: #81b3d2;
}

.hotel-item:active {
  color: #d0d0d0;
}



.more-button:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.more-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}



.order-button:hover {
  color: #ffffff;
  background-color: #604e43;
}

.order-button:active {
  color: #857871;
  background-color: #503e33;
}


.results-list li  .img-hotel {
  margin-left: 71px;
}


.hotel-box {
  display: flex;
}

.hotel-more {
  display: flex;
  flex-direction: column;
}

.hotel-more p {
  margin-bottom: 16px;
  margin-top: 0;
}

.more-button {
  padding: 4px 17px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}

.hotel-price {
  display: flex;
  flex-direction: column;
}

.hotel-price .price {
  margin-left: 5px;
}

.hotel-price p {
  margin-bottom: 16px;
  margin-top: 0;
}

.order-button {
  padding: 4px 16px;
  margin-left: 6px;

  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin-right: 70px;
  height: 90px;
  
}

.rating-item {
  padding: 4px 17px;
  margin-bottom: 0;

  color: #666666;
  background-color: #f2f2f2;

}

.stars {
  background-image: url(../img/star.svg);
  background-repeat: space;
  height: 17px;
}

.stars-1 {
  margin-top: -2px;
  width: 43px;
}

.stars-2 {
  margin-top: -2px;
  width: 66px;
}

.stars-3 {
  margin-top: -2px;
  width: 89px;
}

.stars-4 {
  margin-top: -2px;
  width: 90px;
}

.stars-5 {
  width: 113px;
}