body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;

  background-color: white;
}

a {
  text-decoration: none;
}

.visuallyhidden  {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Меню сайта eader*/
.main-navigation {
  font-size: 14;
  color: black;
  font-weight: 700;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  width: 1200px;
  margin: auto;

  position: relative;
}

.logo {
  position: absolute;
  right: 44%;
}

.site-navigation {
  list-style: none;

  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin-right: -10px;
  margin-left: -60px;
} 
 
.site-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

/* слоган + визуал */

.welcom-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 509px;
  background-image: 
    url("../img/polygon.svg"),
    url("../img/bg_intro.jpg");
  background-repeat: no-repeat;
  background-size: 1200px;  
	background-position: center bottom -1px, center top;
}


.map {
  position: absolute;
  bottom: 1px;
  height: 473px;
  width: 1200px;
  
  z-index: 1;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}
/* Интро Седона */

.intro h3 {
  margin-top: 55px;
  font-size: 21px;
}

.intro p {
  margin-bottom: 55px;
}

.intro {
  height: 215px;
  width: 1200px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;

}

.dummy-1 {
  height: 1098px;
  background-image: url(../img/dummy-1.jpg);
  background-repeat: no-repeat;
}



/* Форма поиска гостиницы  */

.form {
  position: relative;
  z-index: 2;
  width: 568px;
  height: 480px;
  background-color: white;
  margin-top: 43px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} 


.form-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  width: 459px;
  height: 174px;
}


/* Дата въезда выезда */

.arrival, 
.departure,
.aults-сhildren {
  display: flex;
}

.arrival-date, 
.date-of-departure {
  margin-top: 10px;
  height: 40px;
  flex-grow: 3;
  font-weight: 700;
}

.arrival-date-text, 
.departure-date {
  height: 40px;
  flex-grow: 1;
  background-color: black;
}


/* Взрослые дети */


.aults {
  margin-top: 10px;
  margin-right: 42px;
  font-weight: 700;
}

.сhildren {
  margin: 10px;
  margin-right: 19px;
  margin-left: 50px;
  font-weight: 700;
}

.quantity  {
  display: flex;
  height: 40px;
  flex-grow: 1;
}


.plus, .minus  {
  margin: 0;
  padding: 0;
  border: 0;

  height: 40px;
  width: 40px;
}


.features {
  margin: auto;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1200px;
}

.features-2 {
  position: relative;
  margin: auto;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 765px;
}

.features-2 .feature-form {
  margin-top: 50px;
}


.feature-list {
  position: relative;
  bottom: 40px;
  margin: 0;
  padding: 0;
}

.interested {
  display: flex;
  margin: 0;
  padding: 0;
}

.feature-list li{
  list-style: none;
  text-align: center;
}

.feature-list h3{
  font-size: 21px;
}

.interested-1 {
  font-size: 14px;
  line-height: 24px;

}

.features {
  text-align: center;
  
}

.form-header {
  color: white;
  background-color: #766357;
}
  
.feature-form {
  font-size: 30px;
}





Поиск гостиницы в седоне
.adults-children p {
  display: flex;
  flex-direction: row;
}


.button-hotel {
  font-size: 21px;
  font-weight: 700;
  color:  white;
  background-color: #766357;
  border: none;
  padding: 0;

  height: 86px;
  width: 568px;
}

.button-hotel:hover {
  font-size: 21;
  font-weight: 700;
  color: white;
  background-color: #604e43;
  border: none;
}

.button-hotel:active {
  font-size: 21;
  font-weight: 700;
  color: #857871;
  background-color: #503e33;
}
  
/*кнопка поиска госциницы*/
.button-blue {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: white;
  vertical-align: middle;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
  
  width: 458px;
  height: 58px;
  margin-bottom: 57px;
  padding: 0em;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.arrival-date-item,
.date-of-departure-item {
  font-weight: 700;
  text-transform: inherit;
  color: black;
  background-color: #f2f2f2;
  border: #e5e5e5;
  

  width: 346px;
  height: 38px;
}


.adults-item,
.children-item  {
  font-weight: 700;
  text-transform: inherit;
  color: black;
  background-color: #f2f2f2;
  border: #e5e5e5;
  padding: 0;
  
  height: 40px;
  width: 40px;
}

/* Наведение на поля формы поиска */
.arrival-date-item:hover,
.date-of-departure-item:hover,
.adults-item:hover,
.children-item:hover {
  background-color: #ebebeb;
}

/* Фокус на поля формы поиска */
.arrival-date-item:focus,
.date-of-departure-item:focus,
.adults-item:focus,
.children-item:focus {
  background-color: white;
}

/* футер*/
.main-footer {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  
  background-color: white;
}

.footer-copyright {
  font-size: 14px;
  margin-right: 14px;
}

.footer-contact {
  color:  black;
}

.social {
  display: flex;
}

.footer-social {
  display: flex;
  margin-right: 10px;

  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  border: none;
}


.twitter, 
.facebook,
.youtube {
  display: flex;
  margin: auto;
}

.copyright {
  display: flex;
}

/* Пункт каталога */
.hotel-item {
  font-size: 21px;
  color: black;
}

.hotel-item:hover {
  color: #81b3d2;
}

.hotel-item:active {
  color: #d0d0d0;
}

/*Кнопка подробнее*/
.more-button {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: white;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}

.more-button:hover {
  color: white;
  background-color: #669ec0;
}

.more-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

/*Кнопка забронировать*/
.order-button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color:  white;
  background-color: #766357;
  border: none;
}

.order-button:hover {
  color: white;
  background-color: #604e43;
}

.order-button:active {
  color: #857871;
  background-color: #503e33;
}

/*Кнопка рейтинга 
.rating-item {
  color: #666666;
  background-color: #f2f2f2;
}

*/

/* сеточные  стили 
html,
body {
  min-width: 1122px;
  min-height: 1750px;
}


body {
  background-image: url("../img/sedona-index-1000.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
*/